<header class="nt__header">
    <div class="nt__header__container">
      <span class="shrink-btn">
        <i class="bx bx-menu"></i>
      </span>
      <div class="nt__header__group_right">
        <img src="assets/images/image.png" alt="" class="nt__header__img">
        <div class="nt__header__theme_selector dark-layout px-2" id="theme-selector">
          <i class='bx bxs-moon'></i>
        </div>
      </div>
      <span class="nt__header__toggle" id="nt-header-toggle">
        <i class="bx bx-menu"></i>
      </span>
    </div>
  </header>