<nav id="ntNavBar">
    <div class="sidebar-top">
      <h3 class="nt__sidebar__title">LofiCenter</h3>
    </div>

    <div>
      <div class="nt__nav__list">
        <div class="nt__nav__items">
          <h3 class="nt__nav__subtitle">Menu</h3>
          <a href="/home" class="nt__nav__link">
            <i class="bx bx-home nt__nav__icon"></i>
            <span class="nt__nav__name">Home</span>
          </a>

          <div class="nt__nav__dropdown">
            <a href="#" class="nt__nav__link nt__nav__link_dd">
              <i class="bx bx-credit-card-alt nt__nav__icon"></i>
              <span class="nt__nav__name">Chekcer GG</span>
              <i class="bx bx-chevron-right nt__nav__dropdown-icon"></i>
            </a>
            <div class="nt__nav__dropdown-collapse">
              <div class="nt__nav__dropdown-content">
                <a href="/allbins" class="text-danger"><i class='bx bxl-visa'></i>/<i class='bx bxl-mastercard'></i> Allbins</a>
              </div>
              <div class="nt__nav__dropdown-content">
                <a href="/geradas" class="text-success"><i class='bx bxl-visa'></i>/<i class='bx bxl-mastercard'></i> 466 </a>
              </div>
              <div class="nt__nav__dropdown-content">
                <a href="/debitando" class="text-danger"><i class='bx bxl-visa'></i>/<i class='bx bxl-mastercard'></i> OFF EM MANUTENÇÃO</a>
              </div>
            </div>
          </div>
          

          <a href="#" class="nt__nav__link">
            
            <i class="bx bx-terminal nt__nav__icon"></i>
            <span class="nt__nav__name">Em desenvolvimento</span>
          </a>
        </div>
        <div class="nt__nav__items">
          <h3 class="nt__nav__subtitle"></h3>

          <a href="#" class="nt__nav__link">
            <i class="bx bx-compass nt__nav__icon"></i>
            <span class="nt__nav__name">Sobre</span>
          </a>
          <a href="#" class="nt__nav__link">
            <i class="bx bx-bookmark nt__nav__icon"></i>
            <span class="nt__nav__name">Contato</span>
          </a>
        </div>
      </div>
    </div>
    <div class="sidebar-footer">
        <div class="admin-user tooltip-element" data-tooltip="1">
          <a href="/" id="logout" class="log-out">
            <i class='bx bx-log-out'></i>
          </a>
        </div>
      </div>
  </nav>