<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LofiCenter</title>
    <link rel="icon" href="assets/images/favicon.jpg" type="image/jpeg">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="assets/bootstrap-5.1.3/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="assets/jsgrid-1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="assets/jsgrid-1.5.3/jsgrid-theme.min.css" />
    <link rel="stylesheet" href="assets/style/style.css">

    <style>
        .form-container {
            background-color: #131516;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        }

        .header-title {
            color: #a99e9e;
            text-align: center;
            margin-bottom: 20px;
        }

        .painel {
            background-color: #141516;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
        }

        .painel p {
            color: #ffb400;
        }

        .btn-container {
            display: flex;
            justify-content: space-between;
        }

        .btn-container button {
            width: 38%;
            padding: 5px 0;
            font-size: 18px;
            font-weight: bold;
        }

        .btn-primary {
            background-color: #3f6cff;
            color: #fff;
            border: none;
            border-radius: 50px;
        }

        .btn-danger {
            background-color: #2a1e2b;
            color: #7e7c89;
            border: none;
            border-radius: 50px;
        }

        .textarea-fixa {
            background-color: #000000;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            color: #fff;
            border: none;
        }

        .resultado-aprovados,
        .resultado-reprovados {
            flex: 1;
            background-color: #141516;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .resultado-aprovados h5,
        .resultado-reprovados h5 {
            margin-bottom: 10px;
        }

        footer {
            text-align: center;
            color: #7e7c89;
            padding: 20px 0;
        }

        .imagem-container {
            display: flex;
            justify-content: center;
            /* Centraliza horizontalmente */
            margin-bottom: 20px;
            /* Margem na parte inferior */
        }

        .imagem-centralizada {
            max-width: 50%;
            /* Garante que a imagem não exceda a largura da tela */
            height: auto;
            /* Mantém a proporção da imagem */
        }
    </style>
</head>

<body class="dark-layout">

    <%- include('includes/header'); %>
        <%- include('includes/nav'); %>

            <main class="nt__main">
                <div class="form-container">
                    <h2 class="header-title">CONTATO</h2>

                    <h3 class="header-title">Olá gostaria de entrar em contato ?</h3>
                    <p class="text-center">Atualmente estamos atendendo no telegram! aperte aqui <a href="https://t.me/im_karmah" target="_blank">@im_karmah</a> caso seja do
                        seu interesse tirar suas duvidas</p>

                    <div class="imagem-container">
                        <img src="assets/images/contact.png" alt="Contato ao servidor" class="imagem-centralizada">
                    </div>

                </div>
                <footer>
                    <p>2023 © LofiCenter</p>
                </footer>
            </main>

            <script src="assets/script/app.js" defer></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script type="text/javascript" src="assets/jsgrid-1.5.3/jsgrid.min.js"></script>
            <script src="assets/script/jsgrid-example.js"></script>
            <script src="assets/bootstrap-5.1.3/js/bootstrap.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>