<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LofiCenter</title>
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="assets/bootstrap-5.1.3/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="assets/jsgrid-1.5.3/jsgrid.min.css" />
  <link type="text/css" rel="stylesheet" href="assets/jsgrid-1.5.3/jsgrid-theme.min.css" />
  <link rel="stylesheet" href="assets/style/style.css">
</head>

<body class="dark-layout">


  <%- include('includes/header'); %>

    <%- include('includes/nav'); %>


      <main class="nt__main">
        <div class="container-fluid my-2">
          <h2></h2>
          <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card card-custom border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Testadores</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">1</div>
                    </div>
                    <div class="col-auto">
                      <i class='bx bx-credit-card-alt bx-lg text-gray-300'></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card card-custom border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Tempo</div>
                        <div id="subscription-time-left" class="h5 mb-0 font-weight-bold text-gray-800">
                          <%= timeLeft %>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="bx bxs-wallet-alt bx-lg text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card card-custom border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Clientes</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><%= QtyUser %></div>
                    </div>
                    <div class="col-auto">
                      <i class="bx bxs-user-account bx-lg text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <footer class="nt__footer py-2">
          <p class="text-center text-muted my-2">2023 ©LofiCenter</p>
        </footer>
      </main>
      <script src="assets/script/app.js" defer></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script type="text/javascript" src="assets/jsgrid-1.5.3/jsgrid.min.js"></script>
      <script src="assets/script/jsgrid-example.js"></script>
      <script src="assets/bootstrap-5.1.3/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  

</body>

</html>