:root {
    /* light theme */
    --nt-sidebar-bg-color-light: rgb(245 245 245);
    --nt-sidebar-bg-color: #fff;
    --nt-sidebar-bg-color-dark: #e0e0ee;

    --nt-sidebar-text-color-light: #666666;
    --nt-sidebar-text-color-lighter: #999999;
    --nt-sidebar-text-color: #6e768e;
    --nt-sidebar-text-highlight: #71b6f9;


    --nt-sidebar-icon-color: #333333;
    --nt-sidebar-icon-highlight: #71b6f9;

    --nt-container-color: #f0f0f5;
    --nt-card-color: #fff;
    --nt-body-color: #f5f5f5;
    --nt-body-color-dark: #fff;

    --nt-input-bg: var(--nt-body-color-dark);
    --nt-input-focus-bg: var(--nt-input-bg);
    --nt-input-border-color: var(--nt-border-color);
    --nt-input-focus-border-color: var(--nt-border-color-active);
    --nt-input-hover-bg: #fff;

    /* JS Grid */
    --nt-table-row-color: #f2f2f2;
    --nt-table-row-alt-color: #fff;
    --nt-table-border-color: var(--nt-border-color);


    /* Bootstrap Select  */
    --nt-select--hover-bg-color:#f0f0f5;
    --nt-select--active-bg-color:#71b6f9;
}